*~
.\#*
\#**\#
*.ac[nr]
*.alg
*.aux
*.bbl
*.blg
*.directory
*.dvi
*.fdb_latexmk
*.figcount
*.gl[gos]
*.gnuplot
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.mw
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.ptc
*.pyc
*.ropeproject
*.snm
*.sw[op]
*.synctex.gz
*.tabcount
*.tdo
*.toc
*.vrb
*.xdy
